<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= subtitle %></p>
<table border="1">
		
			<tr>
				<th>Tipo</th>
				<th>Observacion</th>
				<th>FechaReclamo</th>
			</tr>
			<tr>
				<td><%= reclamo.tipodereclamo %></td>
				<td><%= reclamo.observacion %></td>
				<td><%= reclamo.fechadereclamo %></td>
			</tr>
		
  </body>
</html>
